* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  width: 40%;
  text-align: center;
  margin: 20px auto;
  padding: 25px;
  background-color: black;
  color: white;
}

.square {
  background: transparent;
  border: 2px solid black;
  float: left;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.board {
  width: 80%;
  margin: 0 auto;
}

.board-row {
  display: flex;
  width: 30%;
  height: 100px;
  margin: 0 auto;
}

.players {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.player1,
.player2 {
  margin: 20px 5px;
  padding: 5px;
  border: 1px solid black;
  color: white;
}
.player1 {
  background-color: green;
}
.player2 {
  background-color: #ffbb00;
}
input {
  width: 50px;
}
.startBtn {
  width: 25%;
  margin: 0px 0px 20px 0px;
  padding: 15px 5px;
  border: 1px solid black;
  background-color: black;
  border-radius: 10px;
  color: white;
}
